@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@font-face {
  font-family: gilroy;
  src: url("/fonts/Gilroy-Medium.ttf");
  font-weight: 400;
}
:root {
  --bgColor: #ececec;
  --color: #dbdbdb;
  --primaryColor: #8ed7ee;
  --secondaryColor: #ef6a93;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: var(--bgColor);
}
body::after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--primaryColor);
  position: fixed;
  top: 20%;
  left: 0;
  filter: blur(10px);
}
body::before {
  content: "";
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  position: fixed;
  top: 40%;
  right: 0;
  filter: blur(30px);
}
header {
  width: 90%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
header #my-name {
  font-family: gilroy;
  font-size: 14px;
  display: inline-block;
}
#landing-section {
  width: 90%;
  font-family: gilroy;
  margin: auto;
}
#landing-section article {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#landing-section article h3 {
  font-size: 54px;
}
#landing-section article h3 span:nth-child(1) {
  color: var(--primaryColor);
  font-family: "Protest Riot", sans-serif;
}
#landing-section article h3 span:nth-child(2) {
  color: var(--secondaryColor);
  font-family: "Protest Riot", sans-serif;
}
#landing-section article p {
  font-family: gilroy;
  font-size: 15px;
  font-weight: 600;
  color: gray;
}
.landing-btns {
  display: flex;
  gap: 20px;
}
.landing-btns button {
  padding: 15px 25px;
  font-family: gilroy;
  border-radius: 4px;
  border: none;
  font-size: 13px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: #f8f8ff;
  align-items: center;
}
.landing-btns button:nth-child(1) {
  background-color: var(--primaryColor);
  color: white;
}
.landing-btns button:nth-child(2) {
  background-color: var(--secondaryColor);
  color: white;
}
.social-links {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: white;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.work {
  font-family: gilroy;
  width: 90%;
  margin: auto;
  padding: 40px 0;
  flex-wrap: nowrap;
}
.work .category-list {
  display: flex;
  justify-content: center;
}
.work .category-list ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.work .category-list ul li {
  background-color: var(--color);
  padding: 8px 18px;
  border-radius: 4px;
  transition: 0.3s ease-in;
}
.active-list {
  background-color: white !important;
}
.work .work-container {
  /* margin: 30px 0; */
  width: 90%;
  position: relative;
  height: 100%;
  margin: 30px auto;
}
.work .work-container .photography-grid {
  width: 90%;
  /* background-color: rebeccapurple; */
  height: 100%;
  margin: auto;
}
.work .work-container .grid {
  animation: gridAnimate 1s 1;
  display: none;
}
@keyframes gridAnimate {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.work .work-container .photography-grid .grid-show {
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  grid-auto-rows: 200px;
}
.work .work-container .photography-grid .grid-show div {
  overflow: hidden;
}
.work .work-container .photography-grid .grid-show div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 1s linear;
}
.take-row {
  grid-row-start: span 2;
}
.take-column {
  grid-column-start: span 2;
}
.work .work-container .design-grid {
  width: 90%;
  /* background-color: rebeccapurple; */
  height: 100%;
  margin: auto;
}
.work .work-container .design-grid .grid-show {
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  grid-auto-rows: 200px;
}
.work .work-container .design-grid .grid-show div {
  overflow: hidden;
}
.work .work-container .design-grid .grid-show div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 1s linear;
}
.grid-active {
  display: block !important;
}
.work .work-container .web-grid {
  width: 90%;
  /* background-color: rebeccapurple; */
  height: 100%;
  margin: auto;
}
.work .work-container .web-grid .grid-show {
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  grid-auto-rows: 300px;
}
.work .work-container .web-grid .grid-show div {
  overflow: hidden;
}
.work .work-container .web-grid .grid-show div a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 1s linear;
}
.skill {
    width: 90%;
    height:fit-content;
    margin:0px auto;
}
.skill div {
    display: flex;
    column-gap: 20px;
    row-gap: 30px;
}
.skill div img {
  margin: 0 80px;
}
.skill div img:nth-child(1) {
  margin: 0;
  margin-right: 60px;
}
footer {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: grid;
  place-items: center;
}
footer h3 {
  font-size: 1.5vw;
  font-family: gilroy;

}